/* ---- DEFAULT COMPONENTS ---- */
:root {
  /* CSS variables */
  --default-bg-color: #242424;
  --default-text-color: rgba(255, 255, 255, 0.87);

  /* Global style */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;
  color: var(--default-text-color);
  background-color: var(--default-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 0.2em;
  border: 1px solid transparent;
  font-size: 1em;
  font-family: inherit;
  background-color: #272727;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

button.square {
  padding: 0 0.6em !important;
  aspect-ratio: 1.5;
  margin: 0 5px;
}

input, textarea, select {
  border: none;
  min-height: 2em;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.2em;
  width: calc(100% - 2em);
}

input:focus-visible {
  outline: 1px solid #646cff;
}

input[type="checkbox"] {
  width: 1.5em;
}

select {
  padding: 0.8em 0.2em;
  width: calc(100% - 1em);
}

/* ---- GENERAL USE CLASSES ---- */
.container-center {
  width: 100%;
  margin: auto;
  text-align: center;
}

.grid {
  display: grid;
  position: relative;
  width: 100%;
  max-width: inherit;
  flex-grow: 1;
  flex-wrap: wrap;
  grid-template-columns: 1fr 2fr;
}
.grid > * {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
}

/* ---- NAV BAR CSS ---- */
nav {
  display: flex;
  position: relative;
  width: 100vw;
  background-color: #2b2d38;
  box-shadow: 0 0 4px black;
  user-select: none;
  font-size: 0.9em;
  z-index: 10;
}

nav button {
  padding: 0 0.7em;
  background-color: transparent;
  border-radius: 0;
}
nav button:hover {
  border-color: transparent;
  background-color: #47495a;
}

nav .submenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #2b2d38;
  left: 0;
  top: 24px;
  padding: 4px 0;
  box-shadow: 0 0 4px #1b1c1f;
}

.submenu > * {
  margin-bottom: 4px;
  text-align: left;
}

/* ---- SEARCH BAR ---- */
.searchbar {
  display: grid;
  width: calc(100% - 8px);
  grid-template-columns: 4fr 1fr;
}

.searchbar input {
  padding: 0.2em 0.5em;
}

.searchbar button {
  margin: auto 0;
  background-color: #425361;
}

/* ---- EAV TABLE ---- */
.eav-table {
  position: relative;
  min-width: 100px;
  width: calc(100vw - 6px);
  max-width: 1200px;
  padding: 0 3px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.eav-table .loading-overlay {
  position: absolute;
  width: 100%;
  top: 40%;
}

.loading-overlay .loader {
  margin: auto;
  background-color: #0000001f;
  padding: 2em 0;
  width: 150px;
  border-radius: 2em;
}

.eav-table .tabs-container {
  display: flex;
  font-size: 1em;
  font-weight: 600;
  user-select: none;
}

.eav-table .tab-container {
  position: relative;
}

.eav-table .tab {
  margin-right: 0.1em;
  padding: 0.2em 1em;
  background-color: #378;
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
}

.eav-table .tab:hover {
  cursor: pointer;
  background-color: #367;
}

.eav-table .tab.selected {
  background-color: #357;
}

.eav-table .del-icon {
  position: absolute;
  top: -30%;
  left: 85%;
  background-color: #546f86;
  line-height: 20px;
  height: 24px;
  border-radius: 12px;
  aspect-ratio: 1;
  z-index: 5;
  box-shadow: 0 0 4px #000000;
}

.eav-table .del-icon:hover {
  cursor: pointer;
  background-color: rgb(49, 74, 82);
}

.eav-table .entry-container {
  height: calc(100vh - 115px);
  background-color: #357;
  padding: 0.25em 0;
  overflow-y: scroll;
  border-top: 1px solid white;
}

.eav-table .eav-entry {
  border: 1px solid white;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 0.2em;
}

.eav-entry button {
  padding: 0 1.5em;
}

.eav-entry .header {
  text-align: left;
  display: flex;
}

.eav-entry .label {
  flex-grow: 1;
  padding: 0.2em;
  font-weight: 600;
}

.eav-entry .value-container {
  margin-top: 0.5em;
  border-top: 1px solid #afafaf66;
}

.eav-table .btn-ctn {
  display: flex;
  flex-direction: row-reverse;
}

.eav-table .btn-ctn button {
  margin-right: 0.5em;
  padding: 0.2em 1em;
}

.value-display-container {
  cursor: pointer;
  padding: 0.2em 0.5em;
}

.value-display-container:hover {
  background-color: #6692c4;
}

.value-field-container {
  display: flex;
}

.value-field-container > * {
  margin-left: 4px;
}

.value-field-container input {
  padding: 0.2em 0.5em;
  margin: 0;
  max-width: 30em;
}

.value-field-container .subfield {
  width: 40%;
  margin-left: 8px;
}

/* ---- EAV FORM ---- */
.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000065;
  z-index: 2;
}

.modal-container .modal-form {
  margin: auto;
  margin-top: 5em;
  min-width: 300px;
  width: fit-content;
  border: 1px solid white;
  border-radius: 0.2em;
  background-color: #357;
  padding: 1em;
}

.modal-form h3 {
  margin-bottom: 1em;
}

.modal-form label {
  display: block;
  text-align: left;
  padding: 0 0.6em;
}

.modal-form .err-msg {
  color: #ff2600;
  margin-top: 0.5em;
}

/* ---- HELP MODAL ---- */
.help-body {
  width: 50%;
  min-width: 300px;
  margin: auto;
  margin-top: 20%;
  border-radius: 4px;
  background-color: #3b5483;
  box-shadow: 0 0 4px #000;
  padding: 8px;
}

.help-body p {
  text-align: left;
}